<footer id="footser-end" class="container-fluid">
	<div class="row col-lg-12 col-md-12 text-center">
		<!-- &copy; 2015 truzip.com | by <a href="/">truzip.com</a> -->
		<a href="/aboutus" style="color: white; margin-right:20px;">About Us</a>
		<!-- <a href="/faq" style="color: white; margin-right:20px;">FAQ</a> -->
		<a href="/careers" style="color: white; margin-right:20px;">Careers</a>
		<a href="/terms" style="color: white; margin-right:20px;">Terms and Privacy</a>
		<a href="/contact" style="color: white; margin-right:20px;">Contact Us</a>
		<a href="/agent" style="color: white; margin-right:20px;">Agents</a>
	</div>
</footer>