<div id="todaysdeals" class="container">
	<div id="CarouselList" class="slick-slider"></div>
</div>
<div class="ItemWelcomeTemplate">
	<div id="WelcomeBestDealItem" class="panel panel-default">
		<div class="panel-body WelcomeBestDealsCard">
			<div class="media media-clearfix-xs media-clearfix-sm">
				<div class="media-center">
					<a href="{{ SearchUrl }}">
						<div class="thumbnail">
							<img src="{{ ImageUrl }}" alt="{{ imgAlt }}" class="media-object"/>
							<div id="bestdeals-caption-half-down" class="caption">
								<div class="row" style="padding: 0px 16px 0px 0px;">
									<div id="PropertyImgRight" class="right">
										<div class="captionOne">
											<span class="text-nowrap">You Save: <strong>{{ YouSave }}</strong></span>
										</div>
									</div>
									<div id="PropertyImgLeft" class="col-md-6">
										<span class="text-nowrap">{{ City }}</span>
									</div>
								</div>
							</div>
							<div id="bestdeals-caption-half-up" class="caption">
								<div class="row" style="padding: 0px 16px 0px 16px;">
									<div id="PropertyImgRight" class="captionTwo">
										<span id="WelcomeBestDealsBedrooms" class="bedroomsInner">
											{{ Bedrooms }}
										</span>
										<span id="WelcomeBestDealsBathrooms" class="bathroomsInner">
											{{ Bathrooms }}
										</span>
									</div>
									<div id="PropertyImgLeft" class="left captionOne">
										<span class="text-nowrap"><strong>{{ Price }}</strong></span>
									</div>
								</div>
							</div>
							<div class="WelcomeBestDealsCardoverlay"></div>
						</div>
						<div class="WelcomeBestDealsCardoverlay"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ItemSignInTemplate">
	<div id="WelcomeBestDealItem" class="panel panel-default">
		<div class="panel-body WelcomeBestDealsCard">
			<div class="media media-clearfix-xs media-clearfix-sm">
				<div class="media-center">
					<div class="thumbnail">
						<img src="{{ ImageUrl }}" alt="{{ imgAlt }}" class="media-object"/>
						<div id="bestdeals-caption-half-down" class="caption">
							<div class="row" style="padding: 0px 16px 0px 0px;">
								<div id="PropertyImgRight" class="right">
									<div class="captionOne">
										<span class="text-nowrap">You Save: <strong>{{ YouSave }}</strong></span>
									</div>
								</div>
								<div id="PropertyImgLeft" class="col-md-6">
									<span class="text-nowrap">{{ City }}</span>
								</div>
							</div>
						</div>
						<div id="bestdeals-caption-half-up" class="caption">
							<div class="row" style="padding: 0px 16px 0px 16px;">
								<div id="PropertyImgRight" class="captionTwo">
									<span id="WelcomeBestDealsBedrooms" class="bedroomsInner">
										{{ Bedrooms }}
									</span>
									<span id="WelcomeBestDealsBathrooms" class="bathroomsInner">
										{{ Bathrooms }}
									</span>
								</div>
								<div id="PropertyImgLeft" class="left captionOne">
									<span class="text-nowrap"><strong>{{ Price }}</strong></span>
								</div>
							</div>
						</div>
					</div>
					<div class="WelcomeBestDealsCardoverlay"></div>
				</div>
			</div>
		</div>
	</div>
</div>