<table class="MapHeaderTable" style="white-space:nowrap;">
	<tbody style="display: inline-block;white-space:nowrap;">
		<tr id="FBV" class="FilterBarValuesParent pull-left" style="vertical-align:middle;display:none;padding:0px;margin:0px;height:40px;white-space:nowrap;">
			<td id="CloseFiltersButton" class="FilterBarValuesClose">
				<button  type="button" id="ListingsSearchFilterReset" class="close pull-left" aria-label="Close" style="margin-right: 5px;height: inherit;">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</button>
			</td>
			<td class="FilterBarValues" id="FilterFromTo" style="display:none;"></td>
			<td class="FilterBarValues" id="FilterBedBath" style="display:none;"></td>
			<td class="FilterBarValues" id="FilterType" style="display:none;"></td>
			<td class="FilterBarValues" id="FilterSqFoot" style="display:none;"></td>
			<td class="FilterBarValues" id="FilterLotSize" style="display:none;"></td>
			<td class="FilterBarValues" id="FilterYear" style="display:none;"></td>
		</tr>
		<tr id="TFBV" class="FilterBarValuesParent" style="vertical-align:middle;display:inline-block;padding:0px;margin:0px;height:40px;">
			<td id="FiltersButton" style="padding: 0px 0px 0px 8px;">
				<div style="position: relative;">
					<button id="ListingsSearchOptions" class="btn btn-block btn-mini" style="color:#a30101;">
						FILTERS <span class="glyphicon glyphicon-filter"></span>
					</button>
				</div>
			</td>
			<td id="MapHeaderFindDealsForm">
				<form class="form-inline">
					<div id="findDealsHeader" class="form-group">
						<div class="input-group">
							<input id="searchgeo" class="typeahead form-control inputPlaceholder" type="text" placeholder="City or Zipcode" style="height: 34px;">
							<span class="input-group-btn">
								<button id="ListingsFindDealsButton" class="btn btn-success btn-block btn-mini right">
									<span >SEE DEALS </span>
									<span style="margin-left: 10px; margin-top:-6px; " class="fa fa-angle-double-right"></span>
									</button>
							</span>
						</div>
					</div>
				</form>
			</td>
		</tr>
	</tbody>
</table>
<div class="clear"></div>
<div id="ListingsSearchOptionsPanel" class="SearchOptionsContainer"></div>

