<div id="contact" >
	<div class="container">
		<form role="form">
			<div class="row text-center">
				<div id="ContactUsRadioBtns" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
					<h4>Get customized alerts. Tell us your cities and price ranges.</h4>
					<br>
					<h4><strong> I'm interested in <label>
						<input id="IntBuying" type="radio" checked  name="interested" value="Buying" style="margin-left: 20px; margin-right: 10px;">
						Buying</label> <label>
						<input id="IntSelling" type="radio" name="interested" value="Selling" style="margin-left: 20px; margin-right: 10px;">
						Investing</label>
					<br>
					</strong></h4>
				</div>
			</div>
			<div class="row pad-top-botm">
				<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
					<div class="form-group">
						<input id="ContactUsName" type="text" class="form-control inputPlaceholder" required="required" placeholder="Your Name">
					</div>
					<div class="form-group">
						<input id="ContactsUsEmail" type="email" class="form-control inputPlaceholder" required="required" placeholder="Your Email">
					</div>
					<div class="form-group">
						<select id="ContactsUsCitiesOfInterest" multiple="multiple" required style="width:100%;">
					</div>
					<div class="form-group">
						<textarea id="ContactsUsMessage" name="message" class="form-control inputPlaceholder" required="required" style="min-height: 150px;" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<button id="ContactUsEmailBtn" type="button" class="btn btn-success btn-lg">
							SUBMIT
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>