<div id="home" style="overflow:hidden;">
	<div id="homeBG">
		<div class="container-fluid">
			<div class="row text-center " style="padding-top:90px;">
				<div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
					<!-- <div class="MainHeaderText">
						Homes For Less<!-- </span><span class="MainHeaderText" style="color: #aeaeae"> -->
					</div> -->
					<div class="MainHeaderText">
					Get a <span style="color:#177b17;">"deal"</span> on your next home.
					</div>
				</div>
			</div>
			<br>
			<div class="row text-center">
				<div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2 head-text slide">
					<div class="input-group div-trans" style="margin-top: 0px;">
						<input id="searchgeo" class="typeahead form-control inputPlaceholder" type="text" placeholder="Enter City or Zipcode" style="height: 60px;">
						<span class="input-group-btn">
							<button id="search" type="submit" class="btn btn-success btn-block btn-lg" style="height: 60px;">
								<span class="glyphicon glyphicon-search"></span>
								<p class="homesearchbutton">
									<span >SEE DEALS </span><span style="margin-left: 10px; margin-top:-6px; font-size: 40px;" class="fa fa-angle-double-right"></span>
								</p>
							</button> </span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- We Show You Homes Priced "Below Market" In Every Zipcode -->