<div id="Header"></div>
<div id="homesearch"></div>
<div id="dealscontainer" class="col-lg-10 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
	<div id="BestDealsHeaderText" class="row text-center" style="padding-top: 10px; padding-bottom: 15px;">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
			<h2>Today's Best Deals</h2>
		</div>
	</div>
	<div id="deals"></div>
</div>
<div id="howitworks"></div>
<div id="contacts"></div>
<div id="Footer"></div>
<div id="Dialogs"></div>