{{ mainHeader }}
<div {{ inline_mainBody }}>
    <h1 {{ inline_h1 }}>Thank You</h1>
    <h2 {{ inline_h2 }}>for inquiring about</h2>
    <h2 {{ inline_h2 }}>{{ Address }}</h2>
    <table width="100%"  style="line-height: 30px;">
        <tr {{ inline_GridAlterBg }}>
            <td {{ inline_DetailsDataTable }}>Deal Type</td>
            <td {{ inline_DetailsDataTable }}>Price</td>
            <td {{ inline_DetailsDataTable }}>TruZip Valuation</td>
            {[ if (!isAboveMarket) { ]}
                <td {{ inline_DetailsDataTable }}>You Save</td>
            {[ } ]}
        </tr>
        <tr>
            <td {{ inline_DetailsDataTableValue }}>{{ DealType }}</td>
            <td {{ inline_DetailsDataTableValue }}>{{ Price }}</td>
            <td {{ inline_DetailsDataTableValue }}>{{ ValuationPrice }}</td>
            {[ if (!isAboveMarket) { ]}
                <td {{ inline_DetailsDataTableValue }}>{{ YouSave }}</td>
            {[ } ]}
        </tr>
    </table>
    <div {{ inline_propertyImage }}></div>
    <h3 {{ inline_h3 }}>
        {[ if (isAboveMarket) { ]}
            This property is {{ DealType }}
        {[ } else { ]}
            This property is a {{ DealType }}. You save a total of {{ YouSave }}.
        {[ } ]}
    </h3>
    <h4 {{ inline_h4 }}>There are {{ ComparableCount }} Comparable Houses for Sale in This Zipcode. See Below How "This House" Compares to them.</h4>
    <table width="100%"  style="line-height: 30px;">
        <tr {{ inline_GridAlterBg }}>
            <td {{ inline_DetailsDataTable }}></td>
            <td {{ inline_DetailsDataTableAlterSelected }}>This House</td>
            <td {{ inline_DetailsDataTable }}>Comparables</td>
            <td {{ inline_DetailsDataTable }}>Difference</td>
        </tr>
        <tr>
            <td {{ inline_DetailsDataTable }}>Price/sqft</td>
            <td {{ inline_DetailsDataTableValueTableSelected }}>{{ PricePerSqFt }}</td>
            <td {{ inline_DetailsDataTableValue }}>{{ MedianPpsf }}</td>
            <td {{ inline_DetailsDataTableValue }}>{{ PpsfDiff }}</td>
        </tr>
        <tr {{ inline_GridAlterBg }}>
            <td {{ inline_DetailsDataTable }}>Age</td>
            <td {{ inline_DetailsDataTableValueAlterSelected }}>{{ YearBuilt }}</td>
            <td {{ inline_DetailsDataTableValue }}>{{ MedianYearBuilt }}</td>
            <td {{ inline_DetailsDataTableValue }}>{{ YearBuiltDiff }}</td>
        </tr>
        {[ if (LotSize) { ]}
            <tr>
                <td {{ inline_DetailsDataTable }}>Lot size</td>
                <td {{ inline_DetailsDataTableValueTableSelected }}>{{ LotSize }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ MedianLotSize }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ LotSizeDiff }}</td>
            </tr>
        {[ } ]}
        {[ if (Bedrooms && BathroomsFull) { ]}
            <tr {{ inline_GridAlterBg }}>
                <td {{ inline_DetailsDataTable }}>Bed/Bath</td>
                <td {{ inline_DetailsDataTableValueAlterSelected }}>{{ Bedrooms }}/{{ BathroomsFull }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ MedianBedrooms }}/{{ MedianBathrooms }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ BedroomsDiff }}/{{ BathroomsDiff }}</td>
            </tr>
        {[ } else if (!Bedrooms && BathroomsFull) { ]}
            <tr {{ inline_GridAlterBg }}>
                <td {{ inline_DetailsDataTable }}>Bathrooms</td>
                <td {{ inline_DetailsDataTableValueAlterSelected }}>{{ BathroomsFull }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ MedianBathrooms }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ BathroomsDiff }}</td>
            </tr>
        {[ } else if (Bedrooms && !BathroomsFull) { ]}
            <tr {{ inline_GridAlterBg }}>
                <td {{ inline_DetailsDataTable }}>Bedrooms</td>
                <td {{ inline_DetailsDataTableValueAlterSelected }}>{{ Bedrooms }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ MedianBedrooms }}</td>
                <td {{ inline_DetailsDataTableValue }}>{{ BedroomsDiff }}</td>
            </tr>
        {[ } ]}
    </table>
    <h3 {{ inline_h3 }}>Property Description</h3>
    <h4 {{ inline_h4 }}>{{ Description }}</h4>
    <h1 {{ inline_h1 }}>Suggested Offer</h1>
    <h2 {{ inline_h2 }}>Ready to make an offer? We suggest {{ SuggestedOffer }}</h2>
    <h2 {{ inline_h2 }}>This zipcode is in a "Buyers Market" (more supply than demand).</h2>
    <h2 {{ inline_headerTwoFooter }}>A Truzip Agent will contact you soon!</h2>
    {{ mainFooter }}
</div>
