{{ mainHeader }}
<div {{ inline_mainBody }}>
    <h1 {{ inline_h1 }}>Thank You for using Truzip!</h1>
    <div {{ inline_mainImage }}></div>
    <!-- <h3 {{ inline_h3 }}>Our Goal</h3> -->
    <h4 {{ inline_h4 }}>Our goal is to find buyers and investors like you their dream home for less.</h4>
    <!-- <h4 {{ inline_h4 }}>You may currently be browsing and not ready to buy - a lot of our clients are at this stage.</h4> -->
    <h4 {{ inline_h4 }}>
A service we provide (with no obligation) is to alert you on "deals" or "below market" homes within your search parameters.
    </h4>
    <!-- <h3 {{ inline_h3 }}>Critical Information!</h3> -->
    <h4 {{ inline_h4 }}>We would like to start alerting you on these deals.</h4>
    <h4 {{ inline_h4 }}>Based on your search, we will be alerting you on deals in {{ city }}.</h4>
    {{ mainFooter }}
</div>