<div id="ListingsPropertiesHeader" class="container-fluid">
	<div id="SidebarPropertyListingsTitle" class="panel panel-default">
		<div id="SortSettingsHeading" class="panel-heading">
			<span id="SidebarTotals" class="panel-title" style="font-weight: bold;"> </span>
			<span id="SidebarDeals" class="panel-title" style="font-weight: bold; color: green;"> </span>
			<!-- <span id="SorterToggle">
				<i class="glyphicon glyphicon-sort-by-attributes pull-right" aria-expanded="false"></i>
			</span> -->
		</div>
	</div>
	<div id="SortSettings" class="collapse">
		<div class="panel-body" style="padding: 5px;">
			<div class="row">
				<ul id="SidebarSorterOptions" class="nav nav-tabs">
					<li class="SidebarSortingTab"><a id="SortByDealType" href="" data-bypass>Deal Type <i class="fa fa-sort"></i>&nbsp;&nbsp;</a></li>
					<li class="SidebarSortingTab"><a id="SortByPrice" href="" data-bypass>Price <i class="fa fa-sort"></i>&nbsp;&nbsp;</a></li>
					<li class="SidebarSortingTab"><a id="SortBySavings" href="" data-bypass>Savings <i class="fa fa-sort"></i>&nbsp;&nbsp;</a></li>
				</ul>
	        </div>
		</div>
	</div>
</div>