<div id="PropertyDetailsTopContainer"></div>
<div class="clear"></div>
<div class="tabbable">
	<ul class="nav nav-tabs" id="PropertyDetailsBottomTabContainer">
		<li id="PropertyTab" class="active">
			<a id="PropertyDetailsLink" href="#PropertyDetails" data-bypass data-toggle="tab" class="bold">Details</a>
		</li>
		<li id="PropertyTab">
			<a id="PropertyTrendsLink" href="#PropertyTrends" data-bypass data-toggle="tab" class="bold"></a>
		</li>
		<li id="PropertyTab">
			<a id="PropertyMapLink" href="#PropertyMap" data-bypass data-toggle="tab" class="bold">Map</a>
		</li>
		<li id="PropertyTab">
			<a id="PropertyComparablesLink" href="#PropertyComparables" data-bypass data-toggle="tab" class="bold">Comparables</a>
		</li>
		<li id="PropertyTab">
			<a id="PropertySchoolsLink" href="#PropertySchools" data-bypass data-toggle="tab" class="bold">Schools</a>
		</li>
	</ul>
	<div id="PropertyDetailsBottomContainer" class="tab-content ListingsPropertyDetailsTabContent">
		<div id="PropertyDetails" class="tab-pane active"></div>
		<div id="PropertyTrends" class="tab-pane"></div>
		<div id="PropertyComparables" class="tab-pane"></div>
		<div id="PropertyMap" class="tab-pane"></div>
		<div id="PropertySchools" class="tab-pane"></div>
	</div>
</div>