<div class="nano-content">
	<table width="100%" style="line-height: 30px; ">
		<tr class="GridAlterBg">
			<td class="DetailsDataTable GridTextLeft">Name</td>
			<td class="DetailsDataTable GridTextLeft">Rating</td>
			<td class="DetailsDataTable GridTextLeft">Address</td>
		</tr>
		<tr id="clone" style="display:none">
			<td class="DetailsDataTable GridTextLeft">{{Name}}</td>
			<td class="badge {{Index}}">{{Rating}}</td>
			<td class="DetailsDataTable GridTextLeft">{{Address}}</td>
		</tr>
	</table>
</div>