<div class="overlay">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
				<img src="images/Welcome.png" class="img-thumbnail center" alt="" style="height: 250px;">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
				<h3 class="text-center">About Us</h3>
				<h4 class="bold">Who is Truzip?</h4>
				<h4 style="padding: 10px 0px 50px 0px;">We are  a technology-driven real estate firm with offices in Los Angeles and Orange County. We operate throughout California with the sole mission of finding home buyers a "deal" on their next home purchase. </h4>
				<h4 class="bold">I want to buy a home. How do I get started?</h4>
				<h4 style="padding: 10px 0px 50px 0px;">To get started, contact an agent in your area of interest. The agent will alert you on deals for free, with no obligation. </h4>
				<h4 class="bold">I want to sell a home. How do I get started?</h4>
				<h4 style="padding: 10px 0px 50px 0px;">Keep more of your equity when you work with a Truzip agent. Our top partner agents are incentivized to get you top dollar while charging only a 1.2% fee. </h4>
				<h4 class="bold">What states does Truzip serve?</h4>
				<h4 style="padding: 10px 0px 50px 0px;">We are currently serving California only and expect to go national within 12 months. </h4>
			</div>
		</div>
	</div>
</div>

