<div id="agentsBG">
	<div class="row" style="padding-top: 40px; padding-bottom: 15px;">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
					<h3 style="font-size: 40px; ">Lead Taken</h3>
					<h1 style="margin-top:60px;">Unfortunately this lead is taken and we are currently sold out of leads for the next 2 weeks. We recommend you act quickly when you see the "new lead" emails.</h1>
					<h1 style="margin-top:10px;"></h1>
					<h1 style="margin-top:40px; font-weight: bold;">We will notify you once additional leads are available.</h1>

					<h1 style="margin:0px auto; margin-top:40px; text-align:center; font-size:18px; font-weight:normal"> Thank You.</h1>
					<h1 style="margin:0px auto; margin-top:10px; text-align:center; color:rgb(3,139,225); font-size:24px; font-weight:normal"> Truzip Team</h1>
					<div style="width: 100%; height: 1px; background-color: gray; margin: 10px; 0px 10px 0px"></div>
				</div>
			</div>
		</div>
	</div>
</div>



