<style>
	.propertyImage {
		background: url(https://www.truzip.com/images/head.jpg) no-repeat center center;
		-webkit-background-size: cover;
		background-size: cover;
		height: 300px;
		overflow-x: hidden;
		position: relative;
		margin-bottom: 40px;
		margin-top: 20px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
			<div >
				<div class="sampleBox" style="color:rgb(3,139,225)">
				Below is a nurturing email sample we send our leads. The goal is to have leads work with <u>you</u> - as opposed to other agents. Our innovative, free tools take your leads from the nurturing phase to closing.
			    </div>
				<h1 style="margin:0px auto; margin-top:40px; padding:0px; text-align:center; color:rgb(3,139,225); font-size:24px; font-weight:normal"> Thank You</h1>
				<h2 style="text-align:center; color:rgb(0,0,0); font-size:16px; font-weight:normal; margin-bottom:5px"> for inquiring about</h2>
				<h2 style="text-align:center; color:rgb(0,0,0); font-size:16px; font-weight:normal; margin-bottom:5px"> 16614 Honeybee Drive, Tustin, CA 92782</h2>
				<h2 style="text-align:center; color:rgb(0,0,0); font-size:16px; font-weight:normal; margin-bottom:5px"> An agent will contact you soon</h2>

				<table width="100%" style="line-height:30px">
					<tbody>
						<tr style="background-color:rgb(242,242,242)">
							<td style="padding:0px 4px; text-align:center; font-size:12px">Deal Type</td>
							<td style="padding:0px 4px; text-align:center; font-size:12px">Price</td>
							<td style="padding:0px 4px; text-align:center; font-size:12px">TruZip Valuation</td>
						</tr>
						<tr>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> Above Market</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> $1,350,000</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> $1,334,878</td>
						</tr>
					</tbody>
				</table>
				<div class="propertyImage"></div>
				<h3 style="color:rgb(3,139,225); font-size:18px; font-weight:normal; margin-top:20px; margin-bottom:10px"> This property is priced above market.</h3>
				<h4 style="color:rgb(0,0,0); font-size:14px; font-weight:normal; margin-bottom:10px"> There are 20 Comparable Houses for Sale in This Zipcode. See Below How "This House" Compares to them.</h4>
				<table width="100%" style="line-height:30px">
					<tbody>
						<tr style="background-color:rgb(242,242,242)">
							<td style="padding:0px 4px; text-align:center; font-size:12px"></td>
							<td style="padding:0px 4px; text-align:center; font-size:12px; background-color:rgb(242,239,202)"> This House</td>
							<td style="padding:0px 4px; text-align:center; font-size:12px">Comparables</td>
							<td style="padding:0px 4px; text-align:center; font-size:12px">Difference</td>
						</tr>
						<tr>
							<td style="padding:0px 4px; text-align:center; font-size:12px">Price/sqft</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold; background-color:rgb(255,252,213)"> 353</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> 370</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> -17</td>
						</tr>
						<tr style="background-color:rgb(242,242,242)">
							<td style="padding:0px 4px; text-align:center; font-size:12px">Age</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold; background-color:rgb(242,239,202)"> 2006</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> 2001</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> 5</td>
						</tr>
						<tr>
							<td style="padding:0px 4px; text-align:center; font-size:12px">Lot size</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold; background-color:rgb(255,252,213)"> 5,227</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> 5,675</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> -448</td>
						</tr>
						<tr style="background-color:rgb(242,242,242)">
							<td style="padding:0px 4px; text-align:center; font-size:12px">Bed/Bath</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold; background-color:rgb(242,239,202)"> 4/4</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> 4/4</td>
							<td style="padding:0px 4px; text-align:center; color:black; font-size:14px; font-weight:bold"> 0/0</td>
						</tr>
					</tbody>
				</table>

				<h3 class="text-center"  style=" font-size:24px; font-weight:normal; margin-top:50px; margin-bottom:30px">Personalize your emails</h3>

				<div class="sampleBox">
					<img src="images/HWB1.png" class="img-thumbnail right" alt="" style="height: 130px;">
					<h3 style="font-size:18px; font-weight:normal; margin-top:0px; margin-bottom:20px">Tell us your cities and price ranges. Here's why:</h3>
					<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> Deals we email you will be more relevant. </b></h1>
					<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> We alert you on deals <u>before</u> they're shown on other sites.</h1>
					<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> Setup once, modify anytime.</h1>
					<h1 style="margin-top: 0px; font-size: 15px; margin-top:20px;">Join 5000+ buyers and investors who get <u>customized</u> alerts for free.</h1>
					<br />
					<button class="btn btn-success btn-block btn-lg" id="">
						Have us call you
					</button>
				</div>

				<!-- <div class="sampleBox">
				<img src="images/HWB3.png" class="img-thumbnail right" alt="" style="height: 130px;">
				<h3 style="font-size:18px; font-weight:normal; margin-top:0px; margin-bottom:20px">Sellers - Keep More Equity</h3>
				<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> We partner with top performing <b>local</b> sales agents.</h1>
				<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 0px;"></span> Agents are measured on customer satisfaction, list to sale ratio and days on market.</h1>
				<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> Pay only a 1.5% commission (to sales agent).</h1>
				<h1 style="margin-top: 0px; font-size: 15px; margin-top:20px;">Plus, see how we help you net <b>more</b> from the sale of your home. </h1>
				<br />
				<button class="btn btn-success btn-block btn-lg" id="">
				Have us call you
				</button>
				</div>

				<div class="sampleBox">
				<img src="images/HWS2.png" class="img-thumbnail right" alt="" style="height: 130px;">
				<h3 style="font-size:18px; font-weight:normal; margin-top:0px; margin-bottom:20px">Buyers & Sellers</h3>
				<h1 style="margin-top: 0px; font-size: 15px; margin-top:20px;">If you both sell and buy a home through us - we can save you <b>even more</b>.</h1>
				<br />
				<button class="btn btn-success btn-block btn-lg" id="">
				Have us call you
				</button>
				</div> -->

				<!-- <h5 style="margin:40px 0px 10px; padding:0px; text-align:center; color:rgb(128,128,128); font-size:14px; font-weight:normal"> If you have any questions, please email us at <a href="mailto:info@truzip.com" target="_blank">info@truzip.com</a>.</h5>
				<h5 style="padding:0px; text-align:center; color:rgb(128,128,128); font-size:14px; font-weight:normal; margin-bottom:10px"> This email was intended for <a href="mailto:tarun524@gmail.com" target="_blank">tarun524@gmail.com</a>.</h5>
				<h5 style="padding:0px; text-align:center; color:rgb(128,128,128); font-size:14px; font-weight:normal; margin-bottom:10px"> Copyright 2016, TruZip Inc. Tustin, CA, 92782, Patents Pending</h5> -->
			</div>
		</div>
	</div>
</div>