<style>
	.newsticker {
		/*background: #038be1;*/
		border-radius: 4px;
		color: black;
		cursor: default;
		font-family: verdana;
		/*font-weight: bold;*/
		font-size: 13px;
		line-height: 12px;
		padding: 0 10px 0 10px;
		height: 20px;
		position: relative;
		overflow: hidden;
		max-width: 400px;
		margin: 0px auto;
		border: solid 1px #038be1;
		margin-top: 30px;
	}
	.newsticker .newsticker-list {
		position: absolute;
		top: 7.2px;
	}
	.newsticker .newsticker-list .newsticker-item {
		height: 24px;
		overflow: hidden;
		white-space: nowrap;
	}
	.newsticker-value {
		font-weight: bold;
		color: #87CEFA;
	}
</style>

<div id="agentsBG">
	<div class="row" style="padding-top: 40px; padding-bottom: 15px;">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
			<div class="right" style="margin-top: 20px;">
				<button type="button" class="btn btn-success btn-block btn-lg" id="contactSales">
					Contact sales
				</button>
			</div>
			<h3 style="font-size: 40px; ">Agents</h3>
			<h3 style="font-size: 30px; font-weight: bold; color: black;">Own Your Zipcode - For Free</h3>
			<h2 style="margin-bottom: 10px; font-size: 18px;">Be seen by 1000's of home buyers and sellers visiting Truzip daily. We are a new, fast growing website attracting active home buyers, sellers, and investors and are looking to fill our pipeline of agents. </h2>
			<h2 style="margin-bottom: 10px; font-size: 18px;">Claim your zipcode for free with no credit card needed. Our zipcodes are about 50% taken at this time and are available to licensed realtors on a first come first served basis.</h2>
			<div style="width: 100%; height: 1px; background-color: gray; margin: 10px; 0px 10px 0px"></div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row text-center">
		<div style="padding-top: 50px;" class="col-lg-3 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<img src="images/HW3.png" class="img-thumbnail" alt="" style="height: 250px;">
			<h3>Own Your Zipcode</h3>
			<h4>Be seen by 1000's of home buyers and sellers.</h4>
		</div>
		<div style="padding-top: 50px;" class="col-lg-3 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-0 col-xs-10 col-xs-offset-1">
			<img src="images/HWA2.png" class="img-thumbnail" alt="" style="height: 250px;">
			<h3>High Converting Website</h3>
			<h4>Our sites attract ready-to-buy consumers.</h4>
		</div>
		<div style="padding-top: 50px;" class="col-lg-3 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<img src="images/HWA3.png" class="img-thumbnail" alt="" style="height: 250px;">
			<h3>Nurturing Included</h3>
			<h4>We nurture leads to increase conversions.</h4>
		</div>
	</div>

	<div class="row text-center" style="padding: 50px 100px 50px 100px;">

		<div class="realtorFeeBox">
			<div class="col-lg-5 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 ">
				<div class="realtorFeeBoxLeft">
					<h3 class="text-center" style="font-size: 28px; margin-bottom: 20px;">Claim 1 zipcode for free</h3>
					<div style="width: 100%; height: 1px; background-color: gray; margin: 10px; 0px 10px 0px"></div>

					<h1 style="font-weight: bold; color: black; margin-top: 20px;">Build Your Brand.</h1>
					<h1 style="margin-top: 0px; ">Be seen by 1000's of buyers and sellers.</h1>
					<h1 style="font-weight: bold; color: black;">Get Contacted</h1>
					<h1 style="margin-top: 0px; ">Your information shown on multiple homes.</h1>
					<!--<h1 style="font-weight: bold; color: black;">Targeted:</h1>
					<h1 style="margin-top: 0px; ">Leads are targeted around the city you specify.</h1>-->
					<h1 style="font-weight: bold; color: black;">Avg Visitors per Month:</h1>
					<div class="newsticker">
						<ul class="newsticker-list">
							<li class="newsticker-item">
								<span></span>San Franscisco County - <span class="newsticker-value">4,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Kern County - </span><span class="newsticker-value">450 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>San Diego County - </span><span class="newsticker-value">2,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Los Angeles County - </span><span class="newsticker-value">1,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Ventura County - </span><span class="newsticker-value">800 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>San Franscisco County - </span><span class="newsticker-value">4,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Kern County - </span><span class="newsticker-value">450 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>San Diego County - </span><span class="newsticker-value">2,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Los Angeles County - </span><span class="newsticker-value">1,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Ventura County - </span><span class="newsticker-value">800 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>San Franscisco County - </span><span class="newsticker-value">4,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Kern County - </span><span class="newsticker-value">450 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>San Diego County - </span><span class="newsticker-value">2,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Los Angeles County - </span><span class="newsticker-value">1,200 Visitors</span>
							</li>
							<li class="newsticker-item">
								<span>Ventura County - </span><span class="newsticker-value">800 Visitors</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- <h1 style="color: white; font-size: 30px; margin-top: 0px;">We provide tremendous value to consumers so they <u> want </u> to be contacted.</h1> -->
			</div>

			<div class="col-lg-5 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

				<h1 style="color: white; font-size: 30px; margin-top: 0px;"><span>Your brand on every listing</span><span class="fa fa-arrow-down" aria-hidden="true" style="margin-left: 6px; font-size: 18px;"></span></h1>
				<img src="images/AgentSample.png" class="img-thumbnail" alt="" style="height: 510px;">
			</div>
			<div class="clear"></div>
		</div>

	</div>

	<!-- <div class="row" style="padding-bottom: 50px; padding-top: 50px;">
	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
	<div class="realtorFeeBox">
	<div class="realtorFeeBoxLeft">
	<h3 class="text-center" style="font-size: 40px; margin-bottom: 20px;">Capture Free Leads in Under 5 min</h3>
	<div style="width: 100%; height: 1px; background-color: gray; margin: 10px; 0px 10px 0px"></div>
	<h1 style="font-weight: bold; color: black; margin-top: 20px;">No fees:</h1>
	<h1 style="margin-top: 0px; ">No monthly fees, cancellation fees, refund fees.</h1>
	<h1 style="font-weight: bold; color: black;">Exclusive:</h1>
	<h1 style="margin-top: 0px; ">Your leads not shared with other agents.</h1>
	<h1 style="font-weight: bold; color: black;">Targeted:</h1>
	<h1 style="margin-top: 0px; ">Leads are targeted around the city you specify.</h1>
	</div>
	<div class="realtorFeeBoxRight">
	<h1 style="color: white; font-size: 30px; margin-top: 0px;">We provide tremendous value to consumers so they <u> want </u> to be contacted.</h1>
	<h1 style="color: white; font-size: 30px; margin-top: 40px;"><span>Your brand on every listing</span><span class="fa fa-arrow-down" aria-hidden="true" style="margin-left: 6px; font-size: 18px;"></span></h1>
	<img src="images/AgentSample.png" class="img-thumbnail" alt="" style="height: 419px;">
	</div>
	<div class="clear"></div>
	</div>
	</div>
	</div> -->

	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
			<h3 class="text-center" style="margin-top: 20px; font-size: 34px;">Checkout in under 3 minutes.</h3>
			<h1 class="text-center" style="margin-bottom: 50px; margin-top: 10px; font-size: 24px;">No credit card needed.</h1>
			<div class="panel-group" id="agentCheckoutAccordion" role="tablist" aria-multiselectable="true">

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="checkoutHeadingOne">
						<h4 class="panel-title-agentCheckout"><a id="CheckAvailabilityButton" role="button" data-toggle="collapse" data-parent="#agentCheckoutAccordion" href="#checkoutCollapseOne" aria-expanded="true" aria-controls="checkoutCollapseOne" data-bypass> Step 1 - Check availability </a></h4>
					</div>
					<div id="checkoutCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="checkoutHeadingOne">
						<div class="panel-body">
							<div id="ZipAvailabilityInput" class="input-group" style="margin-top: 0px;">
								<input id="chargingZips" class="typeahead form-control inputPlaceholder" type="text" placeholder="Enter Zip Code">
								<span class="input-group-btn">
									<button type="submit" id="CheckAvailability" class="btn btn-success btn-block btn-lg" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Checking Availability...">
										Check availability
									</button> </span>
							</div>
						</div>
					</div>

					<div id="checkoutCollapseOneB" style="display:none">
						<!--<h1 class="text-center" style='font-weight: bold; color: red' id="AlreadyTaken">We are sorry, the free version of this zipcode is taken.</h1>
						<h1 style="font-weight: bold; color: black; margin-bottom: 10px;">A paid option is available. See below for benefits:</h1>

						<h1 style="font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> Paying agents get priority and <u>lock-in</u> their zipcode (max 3 agents per zip).</h1>
						<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> Your brand/contact info shown on <u>every</u> listing within your zip (avg. 80 homes).</h1>
						<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> You are <u>guaranteed</u> a minimum of 1 exclusive, unique lead per month.</h1>
						<h1 style="margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> We nurture your leads so they <u>want</u> to be contacted.</h1>
						<h1 style="margin-bottom: 20px; margin-top: 0px; font-size: 15px;"><span class="fa fa-check" style="font-size: 20px; color: #5cb85c; margin-right: 10px;"></span> $39/month. No contract. Cancel anytime.</h1>-->
					</div>

				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="checkoutHeadingTwo">
						<h4 class="panel-title-agentCheckout"><a class="collapsed btn" role="button" data-toggle="collapse" data-parent="#agentCheckoutAccordion" href="#checkoutCollapseTwo" aria-expanded="false" aria-controls="checkoutCollapseTwo" data-bypass> Step 2 - Create Your Ad (Optional) </a></h4>
					</div>
					<div id="checkoutCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="checkoutHeadingTwo">
						<div class="panel-body">
							<h1 style='font-weight: bold; color: green'>Your zipcode is available! Please create your ad or skip to step 3.</h1>
							<br />
							<table class="Indent20">
								<tr>
									<td valign="top" width="350px">
									<div>
										<div>
											<table border="0">
												<tr>
													<td> Your Name
													<br />
													<input type="text" id="srcAgentName" />
													</td>
												</tr>
												<tr>
													<td> Your Phone Number
													<br />
													<input type="text" id="srcAgentContactInfo" />
													</td>
												</tr>
												<!-- <tr>
												<td> Your Website (optional)
												<br />
												<input type="text" id="srcAgentOptionalInfo" />
												</td>
												</tr> -->
											</table>
											<div class="clear"></div>
											<div class="SeparatorH10"></div>

											<div style="margin-top: 20px;">

												<form id="uploadForm"
												enctype="multipart/form-data"
												action="/agents/photo"
												method="post">
													<input type="file" id="userPhoto" name="userPhoto" />
													<h1 style="margin-top: 5px; font-size: 14px;">image size 100x100"</h1>
													<input type="submit" value="Upload YourPhoto" name="submit" style="margin-top: 20px;">
													</input>
													<span id = "status"></span>
												</form>

											</div>
										</div>

										<div class="Line"></div>
										<div class="clear"></div>
										<div class="SeparatorH30"></div>
										<br />
										<div class="Indent20">
											<span class="BoldyBlue Font12">Promote Yourself</span><span class="JustText" id="srcAgentDescriptionCount"> - 80 characters left</span>
											<div class="clear"></div>
											<div class="SeparatorH10"></div>
											<textarea id="srcAgentDescription" runat="server" clientidmode="Static" rows="4" cols="32" maxlength="80"></textarea>
											<div class="clear"></div>
											<div class="SeparatorH10"></div>
										</div>
										<div class="clear"></div>
										<div class="SeparatorH30"></div>
									</div></td>
									<td width="25px"></td>
									<td width="25px" class="vertdivider"></td>
									<td valign="top" width="350px">
									<div class="BoldyBlue Font14">
										Your ad
									</div>
									<div>
										<div class="WhyteBoxBody">
											<div class="Left">
												<div class="AddContainerBox">
													<img class="AgentImageContainer" id="imagethumb" src="http://truzipcdn.appspot.com/App_Themes/BizFunk/Images/TruzipAgent.png" width="100px" height="100px"/>
												</div>
											</div>
											<div class="Left">
												<div style="margin-top: 10px;">
													<input type="text" id="dstAgentName" value="John Doe" readonly="readonly" class="TextReadOnly BoldyBlue" />
												</div>
												<div style="margin-top: 10px;">
													<input type="text" id="dstAgentContactInfo" value="888-123-4567" readonly="readonly" class="TextReadOnly BoldyBlue" />
												</div>
												<!-- <div style="margin-top: 10px;">
												<input type="text" id="dstAgentOptionalInfo" value="http://somewebsite.com" readonly="readonly" class="TextReadOnly BoldyBlue" />
												</div> -->
											</div>
											<div class="clear"></div>
											<div class="Line"></div>
											<br />
											<div>
												<div id="dstAgentDescription" class="TextReadOnly BoldyBlue">
													[Sample Text2] I am an expert in the Santa Monica area. Contact me for Santa Monica deals. Will give back 0.5% to buyer on close.
												</div>

											</div>
											<div class="clear"></div>
										</div>
									</div></td>
								</tr>
							</table>
							<div class="form-group" style="margin-top: 10px;">
								<button type="submit" class="btn btn-success btn-block btn-lg" id="finishCheckoutStepTwoBtn">
									Next
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="checkoutHeadingThree">
						<h4 class="panel-title-agentCheckout"><a class="collapsed btn" role="button" data-toggle="collapse" data-parent="#agentCheckoutAccordion" href="#checkoutCollapseThree" aria-expanded="false" aria-controls="checkoutCollapseThree" data-bypass> Step 3 - Checkout. </a></h4>
					</div>
					<div id="checkoutCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="checkoutHeadingThree">
						<div class="panel-body">
							<h2 style="font-weight: bold;margin-bottom: 10px; font-size: 18px;">Almost There...</h2>
							<h2 style="margin-bottom: 10px; font-size: 18px;"> Your Information </h2>

							<table>
								<tr>
									<td width="180px"> First Name
									<br />
									<input type="text" class="TextReadOnly BoldyBlue" id="AgentFirstName" />
									</td>
									<td width="180px"> Last Name
									<br />
									<input type="text" class="TextReadOnly BoldyBlue" id="AgentLastName" />
									</td>
									<td></td>
								</tr>
								<tr>
									<td> Your Email
									<br />
									<input type="text" class="TextReadOnly BoldyBlue" id="AgentEmail"  />
									</td>
								</tr>
							</table>
						</div>
						<button class="btn btn-success btn-block btn-lg" id="finishCheckoutStepThreeBtn">
							DONE
						</button>
					</div>
				</div>

			</div>

		</div>
	</div>

	<!--<div class="row">
	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
	<h3 class="text-center" style="margin: 50px 0px; font-size: 34px;">General Questions</h3>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px;">1. How do you generate the leads?</h1>
	<h1>Leads are generated through organic traffic. We may also run targeted google/bing cpc campaigns in your city to generate leads. Our site is highly optimized to capture buyer and seller leads.</h1>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px; margin-top: 20px;">2. For how long will I receive free branding and leads within my zipcode.</h1>
	<h1>You will receive free branding and leads indefinitely. The only way you will stop receiving these leads is if another agent pays for the zipcode that you currently own for free.</h1>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px; margin-top: 20px;">3. Are the leads shared with other agents or are they exclusive?</h1>
	<h1 >The leads are exclusive to you. They are not shared with others.</h1>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px; margin-top: 20px;">4. How long will it take to generate the leads.</h1>
	<h1 >We start your campaign immediately and usually have a lead within 0-7 days. However, depending on demand, it could take upto 30 days.</h1>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px; margin-top: 20px;">5. Is the lead guaranteed to be in my city?</h1>
	<h1 >We try to generate the lead in your specified city, but the lead could be within a 15 mile radius of your city as well.</h1>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px; margin-top: 20px;">6. Can you guarantee the lead will convert?</h1>
	<h1 >We cannot. We do however guarantee that the lead will be valid and unique only to you.</h1>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px; margin-top: 20px;">7. If a lead inquires about several properties, is that considered 1 lead or multiple?</h1>
	<h1 >It is considered as 1 lead. A single unique buyer or seller may ask for information multiple times, but it is considered as 1 lead.</h1>
	<h1 style="font-weight: bold; color: black; margin-bottom: 10px; margin-top: 20px;">8. Can I choose whether I want only buyer or seller leads?</h1>
	<h1 >Not at this time. We will let you know if a lead is a buyer or seller though.</h1>
	</div>
	</div>-->
</div>
