<div class="overlay">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
				<img src="images/Welcome.png" class="img-thumbnail center" alt="" style="height: 250px;">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
				<h3 class="text-center">Careers</h3>
				<h4 class="bold">We are always looking for top engineering/web talent as well as UI/UX designers.</h4>
				<h4 style="padding: 30px 0px 10px 0px;">In addition, we are looking for the following:</h4>
				<h4 class="bold">Digital Marketing Manager</h4>
				<h4 style="padding: 10px 0px 10px 0px;"> You will be the bridge between the business and digital organization and will be the front runner of digital innovation within your specific responsibilities: excellent traffic generation capabilities (email, SEO/SEM, online advertising), measurement & reporting, web and mobile marketing, content and ratings/reviews management, lead generation, digital customer experience, social media and eCommerce.</h4>
				<h4 style="padding: 10px 0px 50px 0px;">The Digital Marketing Manager will assist with the site’s UX, booking & eCommerce experience, make recommendations and execute digital marketing plans for the company’s brand portfolio in order to meet annual sales and profit goals. </h4>
			</div>
		</div>
	</div>
</div>

