<div class="overlay">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
				<img src="images/Welcome.png" class="img-thumbnail center" alt="" style="height: 250px;">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" >
				<h3 class="text-center">Contact Us</h3>
				<h4 class="text-center" style="margin-bottom: 20px;">info@truzip.com</h4>
				<h4 class="text-center" style="margin-bottom: 40px;"><span class="glyphicon glyphicon-earphone"></span>
						855-861-5764</h4>
				<form role="form">
					<div class="form-group">
						<textarea name="message" class="form-control inputPlaceholder" required="required" style="min-height: 150px;" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-block btn-lg">
							SUBMIT
						</button>
					</div>
				</form></div>
		</div>
	</div>
</div>

