<div class="overlay">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
				<img src="images/Welcome.png" class="img-thumbnail center" alt="" style="height: 250px;">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" >
				<h3 class="text-center">FAQ</h3>
				<h4 class="bold">1. When I signup for Premium User, do I get access to ALL premium listings in California?</h4>
				<h4 style="padding: 10px 0px 50px 0px;">Yes. You get access to all premium listings in any zipcode, city or search area.</h4>
				<h4 class="bold">2. Why is it that my search area has no premium listings?</h4>
				<h4 style="padding: 10px 0px 50px 0px;">If your search parameters are very narrow (or there are very few listings), it is
				possible that there will be no premium listings. This is very unlikely though.</h4>
				<h4 class="bold">3. Once I make the payment, when do I get access?</h4>
				<h4 style="padding: 10px 0px 50px 0px;">Access is immediate. You will be given a username and password with which you login
				to view premium listings.</h4>
				<h4 class="bold">4. I'm having trouble accessing my account.</h4>
				<h4 style="padding: 10px 0px 50px 0px;">Please email us at support@truzip.com
				and we will resolve it asap.</h4>
			</div>
		</div>
	</div>
</div>

