<!-- <nav id="HomeNav" class="navbar navbar-inverse navbar-fixed-top move-me" style="position: fixed;">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" data-bypass> <img class="navbar-brand-logo" src="/images/logoText.png" alt="#homesearch"/> </a>
		</div>
	</div>
</nav>
<div class="clear"></div> -->
<nav id="HomeNav" class="navbar navbar-inverse navbar-fixed-top move-me" style="position: fixed;">
	<div class="container">
		<div class="navbar-header">
			<div class="row">
				<div class="text-center">
					<a href="/" data-bypass><img class="navbar-brand-logo" src="/images/logoText.png" alt="#homesearch"/></a>
				</div>
			</div>
		</div>
	</div>
</nav>

